Source: gnome-keyring-query
Section: gnome
Priority: optional
Maintainer: Richard Laager <rlaager@wiktel.com>
Build-Depends: debhelper (>= 9), dpkg-dev (>= 1.16.1~), libglib2.0-dev, libgnome-keyring-dev
Standards-Version: 3.9.3
Vcs-Browser: https://github.com/rlaager/gnome-keyring-query-pkg
Vcs-Git: git://github.com/rlaager/gnome-keyring-query-pkg.git

Package: gnome-keyring-query
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Command-line utility for querying GNOME Keyring
 gnome-keyring-manager is a small, simple command-line utility for setting and
 getting passwords from GNOME Keyring.  It is useful in shell scripts.
