Source: gnome-keyring-query
Section: gnome
Priority: optional
Maintainer: Richard Laager <rlaager@wiktel.com>
Build-Depends: debhelper (>= 7.0.50~), libglib2.0-dev, libgnome-keyring-dev
Standards-Version: 3.8.4

Package: gnome-keyring-query
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Command-line utility for querying GNOME Keyring
 gnome-keyring-manager is a small, simple command-line utility for setting and
 getting passwords from GNOME Keyring.  It is useful in shell scripts.
