#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_clean:
	$(RM) gnome-keyring-query

override_dh_auto_build:
	$(CC) `pkg-config --cflags --libs gnome-keyring-1 glib-2.0` -o gnome-keyring-query gnome-keyring-query.c

override_dh_auto_install:
	install -d "$(CURDIR)/debian/gnome-keyring-query/usr/bin"
	install -m 755 gnome-keyring-query "$(CURDIR)/debian/gnome-keyring-query/usr/bin"
